@model PostCommentViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Post</h1>
<hr />
@foreach (var item in Model.Post)
{
    <h2>@item.Content</h2>
    <div>Like-Count</div> <h5>@item.Like</h5>

}
<h1>Comments</h1>
<hr />
@foreach (var item in Model.Comment)
{
    <h3>@item.Content</h3>

}
